@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
	
	
}
body{
	height: 550px;
	background-image:url("./image/pic7.webp");
	background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
	display: flex;
	justify-content: center;
	align-items: center;
}
section{
	
	height: 450px;
	width:400px;
	background-color:rgba(125,0,0,0.5);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	border-radius: 15px;
}

h2{
	font-size: 30px;
	color: aqua;
}
form{
	color: white;
}
input{
	font-size: 20px;
	padding: 10px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	background-color: rgba(0,0,0,1);	
	color: white;
}
.buttom{
	background-color: rgba(160,0,0,0.7);
	height:50px;
	width: 120px;
	cursor: pointer;
	color: black;
	
	
}